<div ng-controller="HomeController" class="row">
    <div class="col-md-12">

        <h1 class="m-b-2">{{ greeting }}</h1>
        <div class="row">
            <form ng-submit="submit()" class="form-horizontal">
                <div class="col-md-6">
                    <input type="text" ng-model="city" class="form-control">
                </div>
                <div class="col-md-3">
                    <select name="daySelect" id="" class="form-control" ng-model="selectedDay">
                        <option ng-repeat="day in days" value="{{ day }}">{{ day }} day forecast</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input class="btn btn-primary" type="submit" value="SEARCH"/>
                </div>
            </form>
        </div>
        <div class="row m-t-3">
        <input class="form-control" type="text" ng-model="myName">
            <div ng-if="myName.length <= characters" class="m-t-2 alert alert-info">
                Must be more than 5 characters
            </div>
            <h1>{{ convertToLowercase() }}</h1>
        </div>

    </div>

</div>

